.userdata {
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.338) 0px 48px 100px 0px;
  box-shadow: rgba(17, 12, 46, 0.073) 0px 48px 100px 0px;
  width: 300px;
  height: 284px;
  margin-top: 20px;
  margin: 30px;
}
